.header {
    width: 100%;
    height: 100%;
    @include flex;
    justify-content: space-between;
    color: #fff;
    .left {
        @include flex;
        .nav_font {
            margin-right: 20px;
            color: #fff;
        }
    }
    .right {
        display: flex;
        align-items: center;
        .right_l {
            margin-right: 20px;
            .el-select {
                width: 100px;
                border: none;
            }
        }
        .right_r {
            display: flex;
            align-items: center;
            .userName {
                margin-right: 16px;
            }
            span {
                i {
                    color: #fff;
                }
            }
        }
    }
}